In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-13800215-001/instruments'

In [5]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [6]:
response.status_code

200

In [7]:
data = response.json()

In [8]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [9]:
instruments = data['instruments']

In [10]:
len(instruments)

68

In [11]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [12]:
instrument_data = []
for item in instruments:
    new_ob=dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [13]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'GBP_JPY', 'type': 'CURRENCY', 'displayName': 'GBP/JPY', 'pipLocation': -2, 'marginRate': '0.03'}
{'name': 'USD_TRY', 'type': 'CURRENCY', 'displayName': 'USD/TRY', 'pipLocation': -4, 'marginRate': '0.25'}
{'name': 'SGD_CHF', 'type': 'CURRENCY', 'displayName': 'SGD/CHF', 'pipLocation': -4, 'marginRate': '0.05'}

In [14]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [15]:
instrument_df

       name      type displayName  pipLocation marginRate
0   GBP_JPY  CURRENCY     GBP/JPY           -2       0.03
1   USD_TRY  CURRENCY     USD/TRY           -4       0.25
2   SGD_CHF  CURRENCY     SGD/CHF           -4       0.05
3   USD_CNH  CURRENCY     USD/CNH           -4       0.05
4   USD_NOK  CURRENCY     USD/NOK           -4       0.07
..      ...       ...         ...          ...        ...
63  EUR_NOK  CURRENCY     EUR/NOK           -4       0.07
64  GBP_PLN  CURRENCY     GBP/PLN           -4       0.03
65  AUD_CAD  CURRENCY     AUD/CAD           -4       0.03
66  EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
67  GBP_NZD  CURRENCY     GBP/NZD           -4       0.03

[68 rows x 5 columns]

In [16]:
instrument_df.to_pickle("instruments.pkl")

In [17]:
new_table = pd.read_pickle("instruments.pkl")

In [18]:
new_table

       name      type displayName  pipLocation marginRate
0   GBP_JPY  CURRENCY     GBP/JPY           -2       0.03
1   USD_TRY  CURRENCY     USD/TRY           -4       0.25
2   SGD_CHF  CURRENCY     SGD/CHF           -4       0.05
3   USD_CNH  CURRENCY     USD/CNH           -4       0.05
4   USD_NOK  CURRENCY     USD/NOK           -4       0.07
..      ...       ...         ...          ...        ...
63  EUR_NOK  CURRENCY     EUR/NOK           -4       0.07
64  GBP_PLN  CURRENCY     GBP/PLN           -4       0.03
65  AUD_CAD  CURRENCY     AUD/CAD           -4       0.03
66  EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
67  GBP_NZD  CURRENCY     GBP/NZD           -4       0.03

[68 rows x 5 columns]