In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
ma_test_res = pd.read_pickle("ma_test_res.pkl")
all_trades = pd.read_pickle("all_trades.pkl")

In [3]:
all_trades.shape

(66885, 11)

In [4]:
ma_test_res.shape

(630, 8)

In [9]:
ma_test_res.head()

      pair  num_trades  total_gain  mashort  malong
0  GBP_USD         535       412.9        4       8
1  GBP_USD         328      -725.5        4      16
2  GBP_USD         284      -787.8        8      16
3  GBP_USD         201      -863.3        4      32
4  GBP_USD         153      -320.3        8      32

In [6]:
ma_test_res.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'mashort', 'malong'],
      dtype='object')

In [8]:
ma_test_res = ma_test_res[['pair', 'num_trades', 'total_gain', 
       'mashort', 'malong']]

In [10]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [13]:
df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

C:\Users\Mathew\AppData\Local\Temp\ipykernel_12828\1300193441.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

In [18]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [23]:
df_all_gains.head()

       CROSS  mashort  malong  num_trades  total_gain
12  MA_32_64       32      64        1439     -1021.1
29   MA_8_96        8      96        1561     -3749.1
23  MA_64_96       64      96         991     -4799.1
4   MA_16_96       16      96        1205     -5054.6
9   MA_24_96       24      96        1056     -5637.4

In [24]:
ma_8_16 = ma_test_res[ma_test_res.CROSS=="MA_8_16"].copy()

In [25]:
ma_8_16.sort_values(by="total_gain", ascending=False, inplace=True)

In [26]:
total_p = len(ma_8_16.pair.unique())

In [27]:
ma_8_16[ma_8_16.total_gain>0].shape[0]

4

In [28]:
4 / total_p

0.19047619047619047

In [31]:
for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS==cross]
    total_p = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    print(f"{cross:12} {n_good:4} {(n_good/total_p)*100:4.0f}%")

MA_32_64       11   52%
MA_8_96         9   43%
MA_64_96        7   33%
MA_16_96        9   43%
MA_24_96       10   48%
MA_32_96        9   43%
MA_32_256      10   48%
MA_4_96         9   43%
MA_8_32         5   24%
MA_24_64        8   38%
MA_64_128       5   24%
MA_24_256       9   43%
MA_64_256       9   43%
MA_16_64        8   38%
MA_16_256       8   38%
MA_32_128       6   29%
MA_8_64         8   38%
MA_8_256        7   33%
MA_24_128       7   33%
MA_4_64         9   43%
MA_16_128       6   29%
MA_16_32        4   19%
MA_8_128        6   29%
MA_4_32         5   24%
MA_4_128        8   38%
MA_8_16         4   19%
MA_4_256        5   24%
MA_4_8          6   29%
MA_24_32        4   19%
MA_4_16         4   19%