In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [10]:
data = response.json()

In [11]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [12]:
len(data['candles'])

10

In [13]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [14]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [15]:
data['candles'][0]

{'complete': True,
 'volume': 3197,
 'time': '2023-01-30T05:00:00.000000000Z',
 'bid': {'o': '1.08754', 'h': '1.08761', 'l': '1.08635', 'c': '1.08684'},
 'mid': {'o': '1.08762', 'h': '1.08768', 'l': '1.08644', 'c': '1.08692'},
 'ask': {'o': '1.08770', 'h': '1.08776', 'l': '1.08652', 'c': '1.08699'}}

In [16]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(candle)

{'complete': False, 'volume': 4968, 'time': '2023-01-30T14:00:00.000000000Z', 'bid': {'o': '1.08856', 'h': '1.08983', 'l': '1.08790', 'c': '1.08969'}, 'mid': {'o': '1.08863', 'h': '1.08990', 'l': '1.08798', 'c': '1.08976'}, 'ask': {'o': '1.08870', 'h': '1.08997', 'l': '1.08805', 'c': '1.08983'}}

In [17]:
candles_df = pd.DataFrame.from_dict(our_data)

In [18]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-01-30T05:00:00.000000000Z,3197,1.08762,1.08768,1.08644,1.08692,1.08754,1.08761,1.08635,1.08684,1.08770,1.08776,1.08652,1.08699
1,2023-01-30T06:00:00.000000000Z,2988,1.08688,1.08696,1.08582,1.08620,1.08681,1.08687,1.08573,1.08613,1.08696,1.08704,1.08590,1.08627
2,2023-01-30T07:00:00.000000000Z,4682,1.08620,1.08700,1.08530,1.08596,1.08612,1.08694,1.08523,1.08588,1.08627,1.08707,1.08537,1.08605
3,2023-01-30T08:00:00.000000000Z,8269,1.08597,1.08898,1.08597,1.08813,1.08589,1.08891,1.08589,1.08806,1.08605,1.08904,1.08605,1.08820
4,2023-01-30T09:00:00.000000000Z,6175,1.08814,1.09042,1.08764,1.09020,1.08807,1.09034,1.08758,1.09013,1.08820,1.09049,1.08771,1.09028
5,2023-01-30T10:00:00.000000000Z,6009,1.09020,1.09139,1.09017,1.09108,1.09012,1.09131,1.09009,1.09101,1.09028,1.09147,1.09025,1.09114
6,2023-01-30T11:00:00.000000000Z,4885,1.09108,1.09114,1.08906,1.08962,1.09102,1.09107,1.08898,1.08955,1.09115,1.09122,1.08913,1.08969
7,2023-01-30T12:00:00.000000000Z,4490,1.08963,1.09095,1.08930,1.09040,1.08956,1.09088,1.08923,1.09033,1.08970,1.09103,1.08937,1.09047
8,2023-01-30T13:00:00.000000000Z,6633,1.09044,1.09112,1.08861,1.08862,1.09036,1.09106,1.08854,1.08855,1.09051,1.09120,1.08867,1.08869

In [19]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [20]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [21]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-01-30T05:00:00.000000000Z,3197,1.08762,1.08768,1.08644,1.08692,1.08754,1.08761,1.08635,1.08684,1.08770,1.08776,1.08652,1.08699
1,2023-01-30T06:00:00.000000000Z,2988,1.08688,1.08696,1.08582,1.08620,1.08681,1.08687,1.08573,1.08613,1.08696,1.08704,1.08590,1.08627
2,2023-01-30T07:00:00.000000000Z,4682,1.08620,1.08700,1.08530,1.08596,1.08612,1.08694,1.08523,1.08588,1.08627,1.08707,1.08537,1.08605
3,2023-01-30T08:00:00.000000000Z,8269,1.08597,1.08898,1.08597,1.08813,1.08589,1.08891,1.08589,1.08806,1.08605,1.08904,1.08605,1.08820
4,2023-01-30T09:00:00.000000000Z,6175,1.08814,1.09042,1.08764,1.09020,1.08807,1.09034,1.08758,1.09013,1.08820,1.09049,1.08771,1.09028
5,2023-01-30T10:00:00.000000000Z,6009,1.09020,1.09139,1.09017,1.09108,1.09012,1.09131,1.09009,1.09101,1.09028,1.09147,1.09025,1.09114
6,2023-01-30T11:00:00.000000000Z,4885,1.09108,1.09114,1.08906,1.08962,1.09102,1.09107,1.08898,1.08955,1.09115,1.09122,1.08913,1.08969
7,2023-01-30T12:00:00.000000000Z,4490,1.08963,1.09095,1.08930,1.09040,1.08956,1.09088,1.08923,1.09033,1.08970,1.09103,1.08937,1.09047
8,2023-01-30T13:00:00.000000000Z,6633,1.09044,1.09112,1.08861,1.08862,1.09036,1.09106,1.08854,1.08855,1.09051,1.09120,1.08867,1.08869